@import '../../style/index.less';
.ic-button {
  display: inline-block;
  border: 1px solid @primary-color;
  height: 32px;
  padding: 0 16px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background: @primary-color;
  transition: 0.3s;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
  &__text {
    background: #fff;
    color: #333;
    border: none;
    padding: 0;
    height: auto;
  }
  &__block {
    display: block;
    width: 100%;
    padding: 0;
  }
}
