@import '../../style/index.less';
.ic-button {
  border: 1px solid @border-color;
  height: 32px;
  padding: 0 16px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background: @primary-color;
  &__text {
    background: #fff;
    color: #333;
    border: none;
    padding: 0;
    height: auto;
  }
}
